.inner-layer {
    &__item {
        @media all and (min-width: 320px) {
            width: 65px !important;
        }

        @media all and (min-width: 350px) {
            width: 80px !important;
        }

        @media all and (min-width: 400px) {
            width: 90px !important;
        }

        &--belonging {
            @media all and (min-width: 320px) {
                left: 18%;
                top: -77px;
            }

            @media all and (min-width: 350px) {
                left: 17%;
                top: -94px;
            }

            @media all and (min-width: 400px) {
                top: -105px;
            }
        }

        &--learning {
            @media all and (min-width: 320px) {
                left: 61%;
                top: -77px;
            }

            @media all and (min-width: 350px) {
                left: 60%;
                top: -94px;
            }

            @media all and (min-width: 400px) {
            }
        }

        &--reflecting {
            @media all and (min-width: 320px) {
                left: 19%;
                top: 64px;
            }

            @media all and (min-width: 350px) {
                left: 18%;
                top: 60px;
            }
        }

        &--celebrating {
            @media all and (min-width: 320px) {
                left: 61%;
                top: 64px;
            }

            @media all and (min-width: 350px) {
                left: 60%;
                top: 60px;
            }
        }
    }
}
