.inner-layer {
    &__item {
        &--belonging {
            left: 23%;
            top: -195px;
        }

        &--learning {
            left: 58%;
            top: -195px;
        }

        &--reflecting {
            left: 23%;
            top: 85px;
        }

        &--celebrating {
            left: 58%;
            top: 85px;
        }
    }
}
